<h2>Login</h2>
<%= form_for :user, url: [:create_session, :user], method: "POST" do |form| %>
  <% if @user.errors.full_messages.length > 0 %>
    <% @user.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>
  E-mail: <%= form.email_field :email %>
  Password: <%= form.password_field :password %>
  <%= form.submit "Login"%>
<% end %>
